apiVersion: v1
kind: Service
metadata:
    name: mysql
spec:
    type: ClusterIP
    ports:
    - port: 3306
      targetPort: 3306 
    selector:
        app: mysql
---
apiVersion: v1
kind: Service
metadata:
    name: python-sample
spec:
    type: ClusterIP
    ports:
    - port: 8080
      targetPort: 5000
    selector:
        app: python-sample
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: python-sample
spec:
  to:
    kind: Service
    name: python-sample
    weight: 100
  port:
    targetPort: 8080
  wildcardPolicy: None
